* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 48px;
    font-style: normal;
    color:rgb(32, 32, 32)
}

#nav {
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    text-align: left;
    align-items: center;
    padding: 0 15px;
    padding-right: 40px;
    display: flex;
    z-index: 1000;
}

#nav img {
    width: 70px;
    margin: 0;
    padding: 0;
}

#nav-buttons {
    display: block;
    margin-left: auto;
}

#nav-buttons a {
    margin-left: 30px;
    color:rgb(32, 32, 32);
    text-decoration: none;
    height: fit-content;
}

#nav-buttons a:hover {
    text-decoration: underline;
} 

#nav-buttons a:focus {
    background-color: underline;
} 

#about-me {
    padding: 10% 5%;
    background-color: rgb(255, 215, 229);
}

#about-me-title {
    display: flex;
    align-items: center;
    justify-content: start;
}

#about-me-title h1{
    font-size: 90px;

    @media (width <= 60em) {
        font-size: 8vw;
    }
}

#about-me-title p, #about-me-desc, .work-desc{
    font-size: 2rem;

    @media (width <= 60em) {
        font-size: 3vw;
    }
}

#about-me-desc {
    font-size: 24px;
    width: 80%;

    @media (width <= 60em) {
        font-size: 15px;
        width: 100%;
    }
}

#about-me-desc p{
    font-size: 24px;

    @media (width <= 60em) {
        font-size: 15px;
    }
}

#about-me-title img {
    width: 30%;
    border-radius: 100%;
    margin-left: 10%;
    display: block;
    margin-left: auto;
    border: 8px solid rgb(241, 195, 245);

    @media (width <= 60em) {
        width: 40%;
    }
}

#about-me-desc {
    margin-top: 4%;
    padding: 2% 2%;
    background-color: rgb(252, 252, 252);
    border: 10px solid rgb(241, 195, 245);
    border-radius: 20px;
}

h2 {
    padding-top: 5% ;
    font-size: 2rem;
}

#work {
    padding: 5% 5%;
    position: relative;
    background-color: rgb(255, 240, 200);
    margin: auto;
}

.work-content-container {
    padding: 5% 5%;
}

.slide-counter, .work-desc p {
    color: grey;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#slideshow-container {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 5px solid rgb(186, 225, 255);
    border-radius: 20px;
    width: 80%;
}

.projects {
    /* hide projects by default */
    display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


#work h2 {
    position: relative;
    margin-bottom: 20px;
}

.work-images{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    width: 70%;
    box-shadow: 0px 0px 20px #c3c3c3;
    
    @media (width <= 60em) {
        width: 100%;
    }
}

.work-images:hover {
    box-shadow: 0px 0px 20px #f4a77a;
}

.work-text {
    margin-bottom: 8%;
}

.work-desc {
    padding: 2% 5%;
    background-color: #fdeadf;
    border-radius: 2%;
    font-size: 1.3rem;
}

.work-desc p {
    padding-bottom: 10px;
}

.work-desc li{
    list-style-position: inside;
    padding-bottom: 2%;
}

#prev, #next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(32, 32, 32);
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 2px;
    user-select: none;
}

#next {
    padding-right: 6%;
    right: 10px;
}

#prev {
    padding-left: 6%;
    left: 10px;
}

#prev:hover, #next:hover {
    background-color: rgb(186, 225, 255);
}

#next:hover {
    padding-left: 6%;
}

#prev:hover {
    padding-right: 6%;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#github-link, #github-link:visited, #github-link:active {
    text-decoration: none;
    text-decoration: underline;
    color: black;
    text-align: center;
    font-size: 1.3rem;
}

#github-link:hover {
    color: hotpink;
}

#contact {
    padding: 2% 5%;
    font-size: 1.3rem;
    background-color: #e0fcd8;
}

#contact-buttons {
    display: flex;
    margin-top: 10px;
}

#contact-buttons img{
    width: 40px;
    margin-right: 10px;
}